label.email {
    margin-right: 62px;
}
label.first_name {
    margin-right: 22px;
}
label.middle_name {
    margin-right: 6px;
}
label.last_name {
    margin-right: 26px;
}
label.display_name {
    margin-right: 2px;
}
label.password {
    margin-right: 34px;
}